$(document).ready(function(e){
	var appId = '30006'; // Replace this with the id of your extension

	$(function() {
		// Call the isAppInstalled method

    CrossriderAPI.isAppInstalled(appId, function(isInstalled) {
      
      // Callback function                
      // isInstalled: true if the extension is installed; otherwise false
      if (isInstalled) {
      	$("<p>redirect to page " + URL + "</p>").appendTo('body');
				$(function() {
						$('body').fireExtensionEvent('postClickedData', [URL, UUID]);
				});
      } else {
      	$('<p>please install the extension</p>').appendTo('body');
      }
    });

    $('body').bindExtensionEvent('recieveClickedData', function(e, data) {
			if (data) {
				window.location=URL;
			}
		});
	});
});